body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:400;
}
a, a:focus, a:active {
  border:0;
}
strong {
  font-weight:700;
}
h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}
.container {
  position:relative;
}
.row {
  position:relative;
	margin-left:0;
	margin-right:0;
}
#menu {
  position:fixed;
  top:10px;
  left:10px;
  z-index:10;
}
#menu > h1 {
  margin-top:0;
}
#bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../img/bg-3.jpg") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:none;
}
.intro {
  margin-top:40px;
}
.main {
  display:none;
}
section {
	display:none;
  position:absolute;
  top:71px;
  left:160px;
  padding-bottom:20px;
  opacity:0.90;
  box-shadow:3px 3px 13px #666 !important;
  background:#fff;
}
section > * {
  opacity:1;
}
section.active {
	display:block;
}
  #Home {
    z-index:5;
  }
  #Wedding {
    z-index:4;
  }
  #LBC {
    z-index:3;
  }
  #Registry {
    z-index:2;
  }
  #Photos {
    z-index:1;
  }
section h1:first-child {
  margin-left:15px;
  margin-right:15px;
}
.cursive {
  font-family: 'Parisienne', serif;
}
.nav {
  margin-top:20px;
}
.nav li.active {
  text-decoration:underline;
}
.nav a {
  font-size:14px;
  font-family: 'Oswald', sans-serif;
  color:#000;
}
.nav > li > a:hover {
  text-decoration:underline;
}
.alert {
	background-color:transparent !important;
	border:none !important;
}
.form-horizontal {
  min-width:500px;
}
legend.cursive {
	font-size:28px;
}
textarea {
	resize:vertical;
}
@media screen and (max-width:400px) {
  section {
    position:relative;
    top:auto;
    left:auto;
    width:100%;
  }
}

@media (min-width:768px){
  section {}
}

@media(min-width:992px){
  section {}
}

@media(min-width:1200px){
  section {}
}