body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:400;
}
h1, h2, h3, h4, h5, strong {
  font-weight:700;
}
.container {
  position:relative;
}
.row {
  position:relative;
	margin-left:0;
	margin-right:0;
}
#menu {

}
#bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../img/bg-1.jpg") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:none;
}
.intro {
  margin-top:40px;
}
.main {
  display:none;
}
section {
	display:none;
  position:absolute;
  top:71px;
  left:0;
  padding-bottom:20px;
  opacity:0.99;
  box-shadow:3px 3px 13px #666 !important;
  background:#fff;
}
section.active {
	display:block;
}
  #Home {
    z-index:5;
  }
  #Wedding {
    z-index:4;
  }
  #LBC {
    z-index:3;
  }
  #Registry {
    z-index:2;
  }
  #Photos {
    z-index:1;
  }
section h1:first-child {
  margin-left:15px;
  margin-right:15px;
  font-family: 'Old Standard TT', serif;
  font-weight:400;
}
.nav {
  margin-top:20px;
}
.nav li.active {
  border:1px solid #1e4167;
}
.nav a {
  font-size:14px;
  font-weight:700;
  color:#1e4167;
}

@media screen and (max-width:400px) {
  section {
    position:relative;
    width:100%;
  }
}

@media (min-width:768px){
  section {width:728px;}
}

@media(min-width:992px){
  section {width:940px;}
}

@media(min-width:1200px){
  section {width:1170px;}
}