body {
	font-family: 'PT Sans', sans-serif;
	background:url('../img/bg-1.jpg') top center no-repeat fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#menu {

}
section {
	box-shadow:3px 3px 13px #666 !important;
}
#timeline-embed {
	
}
.nav {
	margin-top:20px;
}
.nav a {
	font-size:14px;
	font-weight:bold;
}